[project]
	description = A service in NodeJS that allows you to specify a custom array of tags to be removed from a text
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luís Portela Afonso (meligaletiko)
[access "refs/for/refs/*"]
	read = group user/Luís Portela Afonso (meligaletiko)
	push = group user/Luís Portela Afonso (meligaletiko)
	label-Code-Review = -2..+2 group user/Luís Portela Afonso (meligaletiko)
	label-Verified = -1..+1 group user/Luís Portela Afonso (meligaletiko)
	rebase = group user/Luís Portela Afonso (meligaletiko)
	removeReviewer = group user/Luís Portela Afonso (meligaletiko)
	submit = group user/Luís Portela Afonso (meligaletiko)
[access "refs/heads/*"]
	read = group user/Luís Portela Afonso (meligaletiko)
	create = group user/Luís Portela Afonso (meligaletiko)
	push = +force group user/Luís Portela Afonso (meligaletiko)
	pushMerge = group user/Luís Portela Afonso (meligaletiko)
[access "refs/tags/*"]
	push = +force group user/Luís Portela Afonso (meligaletiko)
	pushTag = group user/Luís Portela Afonso (meligaletiko)
	pushSignedTag = group user/Luís Portela Afonso (meligaletiko)
